header {
    background-image: linear-gradient(#00000098, #00000098), url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}




.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

h1 {
    color: #fff;
    font-size: 300%;
    font-weight: 100;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: 25px;
}

.main-btn:link,
.main-btn:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    background-color: #c0392b;
    padding: 10px 25px;
    border-radius: 50px;
    transition: background-color 0.2s, padding 0.2s, letter-spacing 0.2s;
}

.main-btn:hover,
.main-btn:active {
    background-color: #a43125;
    padding: 10px 35px;
    letter-spacing: 1px;
  
}

.section-about-us h1 {
    color: #555;
}