<header>
  <nav>
    <div class="container">
      <div class="row">
        <img src="../../assets/images/logo.png" alt="Shelterly Logo" class="logo">
        <ul class="main-nav">
          <li><a href="#">Schroniska</a></li>
          <li><a href="#">Galeria</a></li>
          <li><a href="#">Kontakt</a></li>
          <li><a href="#">Administracja</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="welcome-text">
      <h1>Zarządzaj schroniskami <br> w całej Polsce</h1>
      <a class="main-btn" href="#">Wybierz schronisko</a>
    </div>
  </div>
</header>