
a {
    text-decoration: none;
    color: rgb(107, 107, 107);
}

img {
    height: 250px;
    width: auto;
    border-radius: 50px;
    margin-top: 5px;
    

}

h2 {
    margin-top: 10px;
    font-size: 150%;
    text-align: center;
}

.shelter-short-text {
    text-align: center;
}