
.shelter-short {
    background-color: white;
    border: 1px solid #c0392b;
    border-radius: 20px;
    max-width: 100%;
    padding-bottom: 30px;
    margin: 0 5px;
    transition: transform 0.1s;
}

.shelter-short:hover {
    transform: scale(1.02);
}