/* You can add global styles to this file, and also import other style files */

 /* main color alizarin #c0392b */
 * {
      box-sizing: border-box;
 }
html {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background: rgb(235, 235, 235);
}